body {
  line-height: 150%;
  display: flex;
  flex-direction: column;
}

.divStep{
  margin: 2em 0;
}

footer{
  padding-top: 1em;
}

table {
  border-spacing: 1px;
  background-color: black;
  white-space: nowrap;
}

td, th {
  text-align: center;
  font-weight: normal;
  padding: 4px;
  background-color: white;
}

h2 {
  display: inline;
  margin-right: 1ch;
}

input {
  text-align: center;
}

#settings>*, main>* {
  margin-top: 0.3em;
}

.disabledLink {
  color: gray;
  cursor: not-allowed;
}

#sizeX, #sizeY, #sizeZ {
  width: 2.5ch;
}

#fuelBasePower, #fuelBaseHeat {
  width: 8.5ch;
}

.fuelPresets {
  overflow-x: auto;
}

#blockType>:not(:first-child) {
  font-family: monospace;
  font-weight: bold;
  font-size: 135%;
}

#rate input, #limit input, #activeRate input, #activeLimit input {
  width: 5.5ch;
}

.Wt {color: dodgerblue;}
.Rs {color: red;}
.Qz {color: lightgray;}
.Au {color: gold;}
.Gs {color: #dc0;}
.Lp {color: blue;}
.Dm {color: powderblue;}
.He {color: lightcoral;}
.Ed {color: teal;}
.Cy {color: deepskyBlue;}
.Fe {color: wheat;}
.Em {color: green;}
.Cu {color: brown;}
.Sn {color: lightsteelblue;}
.Mg {color: pink;}
.Al {color: rgb(137, 184, 255);}
.As {color: rgb(160, 151, 101);}
.B {color: rgb(139, 255, 62);}
.ES {color: rgb(199, 196, 39);}
.Ft {color: rgb(145, 137, 255);}
.Pb {color: rgb(31, 31, 31);}
.N {color: rgb(0, 90, 224);}
.Li {color: rgb(214, 214, 214);}
.Mn {color: rgb(69, 0, 109);}
.NB {color: #570404;}
.Nt {color: rgb(36, 0, 0);}
.Ob {color: #2a0035;}
.Pm {color: rgb(0, 146, 146);}
.Pp {color: rgb(214, 153, 255);}
.Ag {color: rgb(240, 240, 240);}
.Sl {color: rgb(62, 255, 120);}
.cell {color: gray;}
.mod {color: black;}
.air {color: white;}

#design>* {
  float: left;
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: sans-serif;
}

#design>:first-child {
  min-width: 20em;
}

.info {
  position: relative;
}

.info>:nth-child(1) {
  position: absolute;
  left: 0px;
}

.info>:nth-child(2) {
  position: absolute;
  right: 0px;
}

.row {
  font-family: monospace;
  font-weight: bold;
  font-size: 120%;
}
